<h1><%= msg('dashboard') %></h1>
<a href="/editinfo" class="btn" style="float:right;position:relative;top:10px">
    <i class="icon-edit icon-white"></i>
    <%= msg('edit-userinfo') %>
</a>
<h2><%= msg('userinfo') %></h2>
<div id="profile" class="no-avatar">
    <%- partial('user/userinfo', {user: user, isRoot: isRoot}) %>
</div>
<hr>

<h2>应用</h2>
<ul>
  <li><a href="https://svn.solarule.cn" target="_blank">SVN</a></li>
  <li><a href="https://git.solarule.cn" target="_blank">Gitlab</a></li>
</ul>
<hr>

